<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>Be Anomyo, Be Productive</title>
  <link rel = "icon" type = "image/png" href ="{% static 'image/icon.png' %}">
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap.min.css" %}'>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ANOMYO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container collapse navbar-collapse" id="navbarNavDarkDropdown">
      {% firstof request.user.user_info.is_admin request.user.user_info.is_hr as permision %}
      {% if permision%}
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Employee
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="/dsp/emp">Personal Details</a></li>
            <li><a class="dropdown-item" href="/dsp/pr_rgl">Payroll (Regular Employee)</a></li>
            <li><a class="dropdown-item" href="/dsp/pr_csl">Payroll (Casual Employee)</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
      {% firstof request.user.user_info.is_admin request.user.user_info.is_marchent as permision %}
      {% if permision%}
        <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Client
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink2">
            <li><a class="dropdown-item" href="/dsp/client">Client Details</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
      {% firstof request.user.user_info.is_admin request.user.user_info.is_accountant request.user.user_info.is_marchent as permision %}
      {% if permision%}
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sales and Invoice
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink3">
            {% firstof request.user.user_info.is_admin request.user.user_info.is_marchent as subpermision %}
            {% if subpermision%}
            <li><a class="dropdown-item" href="/dsp/sales">Invoicing</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="/dsp/invoices">All Invoices</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
      {% firstof request.user.user_info.is_admin request.user.user_info.is_accountant as permision %}
      {% if permision%}
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Book keeping 
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink3">
            <li><a class="dropdown-item" href="/dsp/trns">Register Transaction</a></li>
            <li><a class="dropdown-item" href="/dsp/cash_book">Cash Book</a></li>
            <li><a class="dropdown-item" href="/dsp/bank_book">Bank Book</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
  <!--Breadcumb-->
  <div>
  	<nav aria-label="breadcrumb">
  	  <ol class="breadcrumb">
  	    <li class="breadcrumb-item"><a href="/">Home</a></li>
  	    <li class="breadcrumb-item active"><a href="/dsp/invoices">Invoices</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{f.invoice_no}}</li>
  	  </ol>
  	</nav>
  </div>

<nav class="navbar navbar-expand-lg bg-light">
 <div class="container">
 	
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="main_nav">
    {% firstof request.user.user_info.is_admin request.user.user_info.is_accountant as permision %}
    {% if permision%}
    {% if f.editable %}
    <div>
      <button class="btn btn-primary me-md-2 btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#Modal">Register Payment</button>
        <!-- Modal -->
        <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Register Payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body row">
                <div class="accordion container" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Via Cash
                      </button>
                    </h2>
                    <form method="post" action="/save/cash_entry_sales/">
                      {% csrf_token %}
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      
                    <div class="accordion-body row">
                      <input type="hidden" name="sales_id" value="{{f.id}}">
                      <div class="col-2">
                        <label>Type</label>
                        <select name="method" value="" class="form-select" required>
                          <option value="C" selected>Credit</option>
                        </select>
                      </div>
                      <div class="col-1">
                        <label>Day</label>
                        <input type="number" name="day" value="{{day}}" class="form-control" max="31" min="1" required>
                      </div>
                      <div class="col-2">
                        <label>Month</label>
                        <input type="month" value="{{month}}" class="form-control" disabled>
                        <input type="hidden" name="month_id" value="{{month_id}}" class="form-control">
                      </div>
                      <div class="col-4">
                        <label>Particulars</label>
                        <input type="text" id="prtc-main" value="Payment  recieved against {{f.invoice_no}}" maxlength="300" name ="prtc" class="form-control">
                      </div>
                      <div class="col-2">
                        <label>Total</label>
                        <input type="number" step="0.01" class="form-control" value="{{f.total}}" disabled>
                      </div>
                      <div class="col-2">
                        <label>Due</label>
                        <input type="number" id="due_cash" step="0.01" class="form-control" value="{{f.due}}" disabled>
                      </div>
                      <div class="col-2">
                        <br>
                        <label>Full Paid</label>
                        <input type="checkbox" name="full_paid" value="yes" id="full_paid_cash" class="form-check-input" >
                      </div>
                      <div class="col-2">
                        <label>Amount(<code>{{f.currency.code}}</code>)</label>
                        <input type="number" id="amount_cash" name="used_amount" step="0.01" min="0" max="{{f.due}}" class="form-control" value="0" required>
                      </div>
                      <div class="col-2">
                        <label>Amount(<code>{{prime_currency}}</code>)</label>
                        <p id="prime_amount_cash">0</p>
                        <input type="hidden" id="prime_input_amount_cash" step="0.01" name="amount" class="form-control" value="0" required>
                      </div>
                      <div class="col-2">
                        <label>Discount</label>
                        <p id="discount_cash">{{f.discount}}</p>
                        <input type="hidden" name="discount" id="discount_cash_2" value="{{f.discount}}">
                      </div>
                      <div class="col-2">
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                      </div>
                    </div>
                    </form>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Via Bank
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <form  method="post" action="/save/bank_entry_sales/">
                        {% csrf_token %}
                      <div class="accordion-body row">
                      <input type="hidden" name="sales_id" value="{{f.id}}">
                      <div class="col-2">
                        <label>Type</label>
                        <select name="method" value="" class="form-select" id="method" required>
                          <option value="C" selected>Credit</option>
                        </select>
                      </div>
                      <div class="col-1">
                        <label>Day</label>
                        <input type="number" name="day" value="{{day}}" class="form-control" max="31" min="1" required>
                      </div>
                      <div class="col-2">
                        <label>Month</label>
                        <input type="month" value="{{month}}" class="form-control" disabled>
                        <input type="hidden" name="month_id" value="{{month_id}}" class="form-control">
                      </div>
                      <div class="col-6">
                        <label>Particulars</label>
                        <input type="text" maxlength="300" value="Payment  recieved against {{f.invoice_no}}" name ="prtc" class="form-control">
                      </div>
                      <div class="col-4">
                        <label>Bank</label>
                       <input type="text" name="bank" maxlength="80" class="form-control">
                      </div>
                      <div class="col-4">
                        <label>Cheque No.</label>
                        <input type="text" name="chq_no" maxlength="25" class="form-control">
                      </div>
                      <div class="col-4">
                        <label>Cheque Date</label>
                        <input type="date" name="chq_date" value="{{today}}" class="form-control">
                      </div>
                      <div class="col-2">
                        <label>Total</label>
                        <input type="number" step="0.01" class="form-control" value="{{f.total}}" disabled>
                      </div>
                      <div class="col-2">
                        <label>Due</label>
                        <input type="number" id="due_bank" step="0.01" class="form-control" value="{{f.due}}" disabled>
                      </div>
                      <div class="col-2">
                        <br>
                        <label>Full Paid</label>
                        <input type="checkbox" id="full_paid_bank" class="form-check-input" >
                      </div>
                      <div class="col-2">
                        <label>Amount(<code>{{f.currency.code}}</code>)</label>
                        <input type="number" id="amount_bank" name="used_amount" step="0.01" min="0" max="{{f.due}}" class="form-control" value="0" required>
                      </div>
                      <div class="col-2">
                        <label>Amount(<code>{{prime_currency}}</code>)</label>
                        <p id="prime_amount_bank">0</p>
                        <input type="hidden" id="prime_input_amount_bank" step="0.01" name="amount" class="form-control" value="0" required>
                      </div>
                      <div class="col-2">
                        <label>Discount</label>
                        <p id="discount_bank">{{f.discount}}</p>
                        <input type="hidden" name="discount" id="discount_bank_2" value="{{f.discount}}">
                      </div>
                      <div class="col-2">
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
                
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
  </div>
</nav>
<form class="form" method="post">
<nav id="navbar_top" class="navbar navbar-expand-lg bg-light">
 <div class="container">
    
    <div id="messageBox"></div>
	<ul class="navbar-nav ms-auto">
    
    {% firstof request.user.user_info.is_admin request.user.user_info.is_marchent as permision %}
    {% if permision%}
		<li class="nav-item mx-1"><button type="button" class="btn btn-primary " id="updateButton">Update</button></li>
    <li class="nav-item"><button class="invisible" type="button"></button></li>
    <li class="nav-item"><a class="btn btn-primary visible" href="/gen_pdf/invoice/{{f.id}}">Download <i class="fas fa-download"></i></a></li>
    {% endif %}
	</ul>
  </div> <!-- navbar-collapse.// -->

</nav>
<div class="container">
  <div class=" row g-3">
    <div class="col-md-3">
      <label for="inv_no" class="form-label" >Invoice No.</label>
      <input type="text" class="form-control" id="inv_no" value="{{f.invoice_no}}" disabled>
    </div>
    <div class="col-md-3">
      <label for="inv_date" class="form-label">Invoice Date</label>
      <input type="date" class="form-control"  id="inv_date" value="{{invoice_date}}">
    </div>
    <div class="col-md-3">
      <label for="report_no" class="form-label" >Report No.</label>
      <input type="text" class="form-control" id="report_no" value="{{report_no}}">
    </div>
    
    <div class="col-md-3">
      <label for="report_date" class="form-label">Report Date</label>
      <input type="date" class="form-control" id="report_date" value="{{report_date}}">
    </div>
    <div class="col-md-10">
      <label for="client" class="form-label">Client</label>
      <select id="client" class="form-select" required>
        <option value="">Choose...</option>
        {%for c in clients%}
        <option value="{{c.id}}" {% if c.id == f.client.id %} selected {% endif %}>{{c.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-2">
      <label for="currency" class="form-label">Currency</label>
      <select id="currency" class="form-select" required>
       <option value="">Choose...</option>
        {%for c in currencies %}
        <option value="{{c.id}}" {% if c.id == f.currency.id %} selected {% endif %}>{{c.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="col-md-6 col-4">
      <label for="inputAddress" class="form-label">Description</label>
    </div>
    <div class="col-md-4 col-4">
      <label for="inputAddress2" class="form-label">Quantity</label>

    </div>
    <div class="col-md-2 col-4">
      <label for="inputCity" class="form-label">Amount</label>

    </div>
    {% if criterias %}
    <div  id="appendHere">
{% for c in criterias%}
    <div id="appendThis{{forloop.counter}}" class="row col-12" data-id="{{criterias | length}}">
      
        <div class="col-md-6 col-4">
          <input type="text" class="form-control" id="desc{{forloop.counter}}" value="{{c.desc}}">
        </div>

        <div class="col-md-4 col-4">
          <input type="text" class="form-control" id="qtn{{forloop.counter}}" value="{{c.qtn}}">
        </div>

        <div class="col-md-2 col-4">
          <input type="number" class="form-control amount" id="amount{{forloop.counter}}" value="{{c.amount}}" onchange="get_total()" required>
        </div>
    </div>
    {% endfor %}
  </div>
    
    {% endif %}
    <div class="col-12 ms-5">
      <button id="addLine" class="btn-sm btn-info" type="button">+</button>
      <button id="subLine" class="btn-sm btn-info invisible" type="button">-</button>
    </div>
    <div  >
      <div class="row col-12" data-id="1">
        <div class="col-6">
          
        </div>

        <div class="col-4">
          
        </div>

        <div class="col-md-2 text-end">
          <div>
            <p>Total: <p id="total">{{f.total}}</p></p>
            <p>Discount: <input type="number" id="discount" onchange="get_net_total()" value="{{f.discount}}" required></p>
            
            <p>Net Total: <p id="net_total">{{f.net_total}}</p></p>
            <p>Recieved : {{f.recieved}}</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  

</div>
</form>
<footer>
  <div style="height: 100px;"></div>
</footer>
</body>
	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function(){
    window.addEventListener('scroll', function() {
      if (window.scrollY > 20) {
        document.getElementById('navbar_top').classList.add('fixed-top');
        // add padding top to show content behind navbar
        navbar_height = document.querySelector('.navbar').offsetHeight;
        document.body.style.paddingTop = navbar_height + 'px';
      } else {
        document.getElementById('navbar_top').classList.remove('fixed-top');
         // remove padding top from body
        document.body.style.paddingTop = '0';
      } 
  });
}); 
    window.onload = function() {

  if({{f.recieved}} != 0){
      $(".form input").attr('disabled','disabled');
      $(".form select").attr('disabled','disabled');
      $("#updateButton").attr('class','invisible')
    }
};
    
    $("#addLine").click(()=>{
      var div = $("#appendThis1").clone()
      let data_id = parseInt($("#appendThis1").attr('data-id')) + 1
      $("#appendThis1").attr('data-id',data_id.toString())
      let new_id = "appendThis" + data_id.toString()
      let desc_id = "desc" + data_id.toString()
      let qtn_id = "qtn" + data_id.toString()
      let amount_id = "amount" + data_id.toString()
      div.attr('id',new_id)
      div.find("#desc1").attr('id',desc_id)
      
      div.find("#qtn1").attr('id',qtn_id)
      
      div.find("#amount1").attr('id',amount_id)
      
      div.appendTo("#appendHere")
      $("#"+desc_id).val("")
      $("#"+qtn_id).val("")
      $("#"+amount_id).val("0")

      $("#subLine").attr('class','btn-sm btn-info visible')
    })
    $("#subLine").click(()=>{
      let div_no = parseInt($("#appendThis1").attr('data-id'))
      let data_id = div_no - 1
      if (data_id == 1){
        $("#subLine").attr('class','btn-sm btn-info invisible')
      }
      $("#appendThis1").attr('data-id',data_id.toString())
      let new_id = "#appendThis" + div_no.toString()
      $(new_id).remove()
    })

function get_total(){
      let count = parseInt($("#appendThis1").attr('data-id')) + 1
      let total = 0
        for(i=1;i<count;i++){
          let amount_id = "#amount" + i.toString()
          if ($(amount_id).val() != ""){
          total += parseInt($(amount_id).val())
        }
      }
      let net_total = total - parseInt($("#discount").val())
        $("#total").html(total)
        $("#net_total").html(net_total)
      }
function get_net_total(){
      let total = $("#total").html()
      if($("#discount").val() != ""){
      let net_total = parseInt(total) - parseInt($("#discount").val())
        $("#net_total").html(net_total)
      }
    }

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does $(this) cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}  

    
    $('#updateButton').click(()=>{
      let count = parseInt($("#appendThis1").attr('data-id'))
        criterias = []
        for(i=1;i<=count;i++){
          let id_name = "#appendThis" + i.toString()
          let desc_id = "#desc" + i.toString()
          let qtn_id = "#qtn" + i.toString()
          let amount_id = "#amount" + i.toString()
          let ctr = {
            'desc' : $(desc_id).val(),
            'qtn' : $(qtn_id).val(),
            'amount' : $(amount_id).val()
          }
          criterias.push(ctr)
        }
    var formValues= {
      'invoice_no' : $('#inv_no').val(),
      'invoice_date' : $('#inv_date').val(),
      'report_no' : $('#report_no').val(),
      'report_date' : $('#report_date').val(),
      'client_id' : $('#client').val(),
      'currency_id' : $('#currency').val(),
      'discount' : $('#discount').val(),
      'criteria_no' : count,
      'criterias' : criterias
    }
     $.ajax(
    {
        type:"POST",
        url: "/update/sales/{{f.id}}/",
        
        data: formValues,
        dataType:"json",
        // contentType: "application/json; charset=uft-8",
        headers: { "X-CSRFToken": getCookie("csrftoken") },
        success: function( data ) 
        {

          window.location = "/view/sales/{{f.id}}"
        }
      
        });
    })
    $("#full_paid_cash").click(function(){
      if(document.getElementById("full_paid_cash").checked == true){
        let dis_cash = $("#due_cash").val() - $("#amount_cash").val() + {{f.discount}}
        $("#discount_cash").html(dis_cash)
        $("#discount_cash_2").val(dis_cash)
      }
      else if(document.getElementById("full_paid_cash").checked == false){
        let dis_cash = $("#due_cash").val() - $("#amount_cash").val() + {{f.discount}}
        $("#discount_cash").html({{f.discount}})
        $("#discount_cash_2").val({{f.discount}})
      }
      

    })

    $("#amount_cash").keyup(function(){
      if(document.getElementById("full_paid_cash").checked == true){
        let dis_cash = $("#due_cash").val() - $("#amount_cash").val() + {{f.discount}}
        
        console.log(p_amount)
        $("#discount_cash").html(dis_cash)
        $("#discount_cash_2").val(dis_cash)
        
      }
      let p_amount = $("#amount_cash").val() * {{relative_rate}}
      $("#prime_amount_cash").html(p_amount)
      $("#prime_input_amount_cash").val(p_amount)
      
      })

    $("#full_paid_bank").click(function(){
      if(document.getElementById("full_paid_bank").checked == true){
        let dis_bank = $("#due_bank").val() - $("#amount_bank").val() + {{f.discount}}
        $("#discount_bank").html(dis_bank)
        $("#discount_bank_2").val(dis_bank)
      }
      else if(document.getElementById("full_paid_bank").checked == false){
        let dis_bank = $("#due_bank").val() - $("#amount_bank").val() + {{f.discount}}
        $("#discount_bank").html({{f.discount}})
        $("#discount_bank_2").val({{f.discount}})
      }
      

    })

    $("#amount_bank").keyup(function(){
      if(document.getElementById("full_paid_bank").checked == true){
        let dis_bank = $("#due_bank").val() - $("#amount_bank").val() + {{f.discount}}
        $("#discount_bank").html(dis_bank)
        $("#discount_bank_2").val(dis_bank)
      }
      let p_amount = $("#amount_bank").val() * {{relative_rate}}
      $("#prime_amount_bank").html(p_amount)
      $("#prime_input_amount_bank").val(p_amount)
      
      })
	</script>
</html>